@import '../../variables/variables.scss';

.sectionDropdown {
    display: flex;
    justify-content: center;
    background-color: $backgroundColor-elements;
    background: hsla(58, 100%, 99%, 0.75);
    width: 98%;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    &__dropdownContainer {
        width: 100%;
        max-width: 800px;
        margin: 20px 16px;
        border-radius: 5px;
        border: 1px solid $backgroundColor-btnNavBarHover;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
}

.dropdownTitleContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px 3px 0px 0px;
    cursor: pointer;
    background-color: $backgroundColor-btnNavBar;
    &__arrow {
        transform: rotate(180deg);
        transition: transform 0.8s ease-in-out;
        width: 40px;
        height: 20px;
    }
}

.dropdownTitleContainer__arrow.open {
    transform: rotate(0deg);
}

.dropdownTextContainer {
    max-height: 0px;
    transition: max-height 0.8s ease-in-out;
    font-family: $font-family-red-hat-display;
    font-size: 12px;
    background-color: $backgroundColor-elements;
    &__text {
        margin: 0px;
        padding: 10px;
        font-size: 16px;
    }
    &__containerIcons {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px;
        &--icons {
            width: 30px;
            height: 30px;
        }
    }
}

.dropdownTextContainer.open {
    max-height: 500px;
    transition: max-height 0.8s ease-in-out;
}

/*  Small devices (mobiles, less than 641px)  */
@media (max-width: 640px) {
    .sectionDropdown {
        margin-top: 10px;
    }

    .dropdownTextContainer {
        &__text {
            font-size: 12px;
        }
    }
}