$font-family-comfortaa: "Comfortaa", sans-serif;
$font-family-red-hat-display: "Red Hat Display", sans-serif;

$backgroundColor-html: linear-gradient(to top, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
$backgroundColor-elements: #FBFDFF;
$backgroundColor-btnNavBar: #FFCC70;
$backgroundColor-btnNavBarHover: #ffa600;
$backgroundColor-ProjectCard: #F1F0EF;
$border-slide: #CFCECA;
$textColorBlack: #000000;
