$font-family-comfortaa: "Comfortaa", sans-serif;
$font-family-red-hat-display: "Red Hat Display", sans-serif;

$backgroundHeader: #E6F4FE;
$backgroundColor-sliderContainer-sand: #F1F0EF;
$backgroundColor-slide-sand: #FDFDFC;
$backgroundColor-btnNavBar: #C2E5FF;
$backgroundColor-navBar: #FBFDFF;

$border-slide: #F1F0EF;
$boder-btnNavBar: #ACD8FC;