@import '../../variables/variables.scss';

.button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: $font-family-red-hat-display;
    font-size: 1em;
    width: 100px;
    height: 25px;
    padding: 2px;
    color: $textColorBlack;
    font-weight: bold;
    background-color: $backgroundColor-btnNavBarHover;
    
}

.button:hover {
    background-color: $backgroundColor-btnNavBar;
}