@import '../../variables/variables.scss';

.header {
    background-color: $backgroundHeader;
    border-bottom: 1px solid $boder-btnNavBar;
}

.headerContainer {
    text-align: center;
    padding: 50px 0px 20px 0px;
    &__title {
        font-family: $font-family-comfortaa;
        margin: 0px;
    }
    &__text1 {
        font-family: $font-family-red-hat-display;
        margin: 0px;
    }
    &__text2 {
        font-family: $font-family-red-hat-display;
        margin: 0px;
    }
}

.navContainer {
    width: 100%;
    padding: 0px 5px 20px 5px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.ulContainer {
    width: 100%;
    height: auto;
    margin: 0px;
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid $boder-btnNavBar;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: $backgroundColor-navBar;
}

.active {
    display: inline-block;
    width: 100px;
    height: auto;
    border-radius: 15px;
    border: 1px solid $border-btnNavBarActive;

}

/******* Media queries **********/
/*  Small devices (tablets, less than 560px)  */
@media (max-width: 559px) {
    .header {
        font-size: 0.8em;
    }
}

