@import '../../variables/variables.scss';

.arrow {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   cursor: pointer;
   width: 30px;
   height: 30px;
   &__icons {
      width: 13px;
      height: 22px;
   }
}

/******* Media queries **********/
/*  Small devices (tablets, less than 880px)  */
@media (max-width: 879px) {
   .arrow {
      width: 20px;
      height: 20px;
      &__icons {
         width: 8px;
         height: 13px;
      }
   }
}


