@import '../../variables/variables.scss';

.arrow {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1em;
   border-radius: 50%;
   cursor: pointer;
}

/******* Media queries **********/
/*  Small devices (tablets, less than 880px)  */
@media (max-width: 879px) {
   .arrow {
      font-size: 0.8em;
      width: 20px;
      height: 20px;
   }
}


