@import '../../variables/variables.scss';

.arrow {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid $border-slide;
   border-radius: 50%;
   cursor: pointer;
   width: 26px;
   height: 26px;
   padding: 13px;
   &__icons {
      width: 9px;
      height: 16px;
   }
}

/******* Media queries **********/
/*  Small devices (tablets, less than 880px)  */
@media (max-width: 879px) {
   .arrow {
      width: 20px;
      height: 20px;
      padding: 10px;
      &__icons {
         width: 8px;
         height: 13px;
      }
   }
}


