@import '../../variables/variables.scss';

.footer {
    padding: 0px 16px 20px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    &__textContainer {
      font-family: $font-family-red-hat-display;
      text-align: center;
      margin: 2% 0px;
    }
}

.iconsContainerFooter {
    display: flex;
    justify-content: center;
    gap: 20px;
    &__icon {
        width: 30px;
        height: 30px;
    }
}

.downloadCV {
    background-color: $backgroundColor-ProjectCard;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-family: $font-family-red-hat-display;
    
}



