@import '../../variables/variables.scss';

.sliderContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: $backgroundColor-sliderContainer-sand;
    padding: 200px 0px;
    position: relative;
    &__slider {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        perspective: 2000px;
        position: absolute;
    }
    &__btnContainer {
        width: 100%;
        max-width: 1880px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0px 20px;
    }
}

/******* Media queries **********/
/*  Small devices (tablets, less than 880px)  */
@media (max-width: 879px) {
   
}